@font-face {
  font-family:'Raleway';
  src: url('fonts/Raleway-VariableFont_wght.eot');
  src: url('fonts/Raleway-VariableFont_wght?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-VariableFont_wght.woff') format('woff'),
  url('fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
  url('fonts/Raleway-VariableFont_wght.svg#Raleway') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family:'Raleway';

}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  
}

#menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  
}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

header, nav, main {
  margin-left: 25%;
  margin-right: 25%;
}

main {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width:90%;
}

.left {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;

}


footer {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  background-color: #F2F2F2;
  border-width: 100%;
  padding: 2% 10% 2% 25%;
  font-size: 60%;
  

}


a {

  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  

}

a:hover {
  color: blue;
  
}

#menu > a:hover {
  border-top: blue solid 1px;
}

#down {

  padding-right: 300px;
  


}



#logosearch {
  display: flex;
  align-items: flex-end
  
}

#icon {


}

