@font-face {
  font-family:'Raleway';
  src: url('fonts/Raleway-VariableFont_wght.eot');
  src: url('fonts/Raleway-VariableFont_wght?#iefix') format('embedded-opentype'),
  url('fonts/Raleway-VariableFont_wght.woff') format('woff'),
  url('fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
  url('fonts/Raleway-VariableFont_wght.svg#Raleway') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family:'Raleway';

}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  
}

#menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  
}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  
  

}

.left {
  width: 75%;
}
.photoright {
  display: flex;
  flex-direction: column;

}

}
.right {
  display: flex;
  flex-direction: column;
  
  width: 10%;
}
.one, .two, .three, .four, .five, .six  
{
  width: 260px;
  height: 260px;
}

.seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen
{
	width: 250px;
	height: 250px;

}

main {
  margin-left: 20%;
  margin-right: 20%;
  height: 80%;
  

}

footer {
  display: flex;
  justify-content: flex-start;
  background-color: #F2F2F2;
  border-width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  
  

}


a {

  display: flex;
  justify-content: flex-start;

  
}

.leftright {

  display: flex;
  justify-content: space-between;


}

#down {

  padding-right: 300px;
  


}



#logosearch {
  display: flex;
  align-items: flex-end
  
}

#icon {


}


