header {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
nav {
  border: 1px solid red;

}

.hebergements
{
	width: 175px;
	height: 175px;
}

.activites
{
	width: 175px;
	height: 175px;
}

footer
{
display:flex;
justify-content: space-around;

}

h3 {
  display:flex;
  align-items: flex-end;
}


ul {
  list-style-type: none;
}

#searchbar {
  border: 1px solid blue;
  display:flex;
  justify-content: flex-start;
  align-items: flex-end

}
#conteneur {
    display: flex;
    justify-content: space-between;
}


  


